<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.dnscrypt-osxclient.DNSCryptConsoleChange</string>
  <key>KeepAlive</key>
  <false/>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Library/PreferencePanes/DNSCrypt.prefPane/Contents/Resources/usr/scripts</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PreferencePanes/DNSCrypt.prefPane/Contents/Resources/usr/scripts/handle-console-change.sh</string>
  </array>
  <key>ExitTimeOut</key>
  <integer>30</integer>
  <key>ThrottleInterval</key>
  <integer>0</integer>
  <key>Nice</key>
  <integer>15</integer>
  <key>UserName</key>
  <string>root</string>
  <key>WatchPaths</key>
  <array>
    <string>/dev/console</string>
    <string>/var/run/utmpx</string>
  </array>
</dict>
</plist>
