<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.opendns.osx.DNSCryptNetworkChange</string>
  <key>KeepAlive</key>
  <false/>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Library/Application Support/DNSCrypt/scripts</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/DNSCrypt/scripts/handle-network-change.sh</string>
  </array>
  <key>ExitTimeout</key>
  <integer>30</integer>
  <key>ThrottleInterval</key>
  <integer>1</integer>
  <key>Nice</key>
  <integer>1</integer>
  <key>UserName</key>
  <string>root</string>
  <key>WatchPaths</key>
  <array>
    <string>/Library/Preferences/SystemConfiguration</string>
  </array>
</dict>
</plist>
