!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title About DNSCrypt
    %style{type: "text/css"}
      :sass
        body
          font:
            family: arial, helvetica, sans-serif
          margin: 0
        h1
          margin: 0        
  %body
    %h1 About DNSCrypt
    %p
      This software encrypts DNS packets between your computer and
      OpenDNS. This prevents man-in-the-middle attacks and snooping of DNS
      traffic by ISPs or others.
    %p
      Tips:
      %ul
        %li If you have a firewall, open TCP and UDP ports 53 and 443.
        %li
          If you prefer reliability over security, enable fallback to
          insecure DNS.
        %li
          The FamilyShield service blocks pornographic content,
          including OpenDNS "Pornography", "Tasteless" and "Sexuality"
          categories, in addition to proxies and anonymizers (which can render
          filtering useless). It also blocks phishing and some malware.
    %p
      Please help by providing feedback!
