!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Release notes for DNSCrypt-OSXClient by AlterStep
    :sass
      body
        font:
          family: arial, helvetica, sans-serif
        margin: 0
      h1, h2
        margin: 0
      h1
        border-bottom: 1px solid grey
      article
        padding-left: 1em
      time
        font:
          style: italic
  %body
    %h1 Release Notes for DNSCrypt-OSXclient by AlterStep

    %article
      %h2 Version 1.0.13 by AlterStep
      %time Thu, Feb 09 2017
      %p
        No more "automatic fallback". We trust users to know when they
        must disable DNSCrypt.
      %p
        DNS caching for improved speed.
      %p
        New buttons to log and view blocked queries.
      %p
        New system to bypass DNSCrypt using dnscrypt-proxy forwarding
        module.
      %p
        Many bug fixes because old code was removed.
      %p
        dnscrypt-proxy 1.9.0 with support for the new ChaCha20 encryption.
      %p
        libsodium 1.0.11.

    %article
      %h2 Version 1.0.12 by AlterStep
      %time Sun, Jul 31 2016
      %p
        Compatibility with OSX 10.12
      %p
        dnscrypt-proxy 1.7.0
      %p
        libsodium 1.0.9
      %p
        Fixed a regression in the automatic updater for the resolvers list

    %article
      %h2 Version 1.0.11 by AlterStep
      %time Thu, Mar  3 2016
      %p
        Compatibility with OSX 10.11
      %p
        dnscrypt-proxy 1.6.1
      %p
        libsodium 1.0.8

    %article
      %h2 Version 1.0.10 by AlterStep
      %time Tue, 23 Jul 2015
      %p
        Compatibility with OSX 10.11 beta 4
      %p
        dnscrypt-proxy 1.6.0

    %article
      %h2 Version 1.0.9 by AlterStep
      %time Tue, 12 Jul 2015
      %p
        Fixed an issue with libsodium not being found by minisign-verify

    %article
      %h2 Version 1.0.8 by AlterStep
      %time Tue, 12 Jul 2015
      %p
        New versions are automatically downloaded

    %article
      %h2 Version 1.0.7 by AlterStep
      %time Tue,  1 Jul 2015
      %p
        Fixed a bug in the automatic updater for the resolvers list

    %article
      %h2 Version 1.0.6 by AlterStep
      %time Tue, 10 Jun 2015
      %p
        Updated DNSCrypt proxy to version 1.5.0
      %p
        Updated libsodium to 1.0.3-minimal
      %p
        The list of available resolvers is automatically updated
      %p
        Improved privacy: ephemeral keys have been turned on
      %p
        Improved privacy: if no resolvers have been configured, a new one
        is randomly chosen after each reboot

    %article
      %h2 Version 1.0.5 by AlterStep
      %time Tue, 06 Jan 2015
      %p
        Updated DNSCrypt proxy to version 1.4.3
      %p
        Updated libsodium to 1.0.1-minimal
