!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Release notes
    %style{type: "text/css"}
      :sass
        body
          font:
            family: arial, helvetica, sans-serif
          margin: 0
        h1, h2
          margin: 0
        h1
          border-bottom: 1px solid grey
        article
          padding-left: 1em
        time
          font:
            style: italic
  %body
    %h1 Release Notes

    %article
      %h2 Version 0.14 released!
      %time Wed, 08 Aug 2012
      %ul
        %li The preference pane can now run on OSX 10.6.

    %article
      %h2 Version 0.13 released!
      %time Wed, 08 Aug 2012
      %ul
        %li The DNS cache is now flushed after a configuration change.
        %li
          The release notes are now bundled with the preference pane.
          This reduces the startup time and ensures that these notes are
          consistent with the currently running version.

    %article
      %h2 Version 0.12 released!
      %time Mon, 06 Aug 2012
      %ul
        %li
          The "fallback to insecure" mode now properly copes with captive
          portals and firewalls.
        %li
          The TCP/443 checkbox is gone. When the dnscrypt box is
          checked, it tries everything in parallel and keeps whatever
          works best.
        %li
          IPv6 is fully supported (and automatic. If that works using
          IPv6, IPv6 is used)
        %li
          Familyshield is supported, with and without dnscrypt.
        %li
          OpenDNS/DNSCrypt/Familyshield/Fallback settings can be set
          from the menu bar.
        %li
          Internal domain names like routerlogin.net are directly sent
          to the router or to whatever DNS resolvers the DHCP server provides.
        %li
          Packages are signed for Mountain Lion.
        %li
          The interface passively watches for network changes according to the
          current network configuration and the current Wifi access
          point. It doesn't constantly poll for changes any more.
        %li
          The proxy has been updated to version 1.0.1.

    %article
      %h2 Version 0.10 released!
      %time Thu, 12 Jan 2012
      %ul
        %li The orange dot has been replaced with a green one.
        %li
          Some content in the preferences pane wasn't always
          properly loaded on Snow Leopard. This has been fixed.

    %article
      %h2 Version 0.9 released!
      %time Mon, 10 Jan 2012
      %ul
        %li A new icon set, due to popular request.
        %li The dnscrypt settings are persistent across reboots.

    %article
      %h2 Version 0.8 released!
      %time Wed, 14 Dec 2011
      %ul
        %li dnscrypt doesn't require administrative privileges any more.
