!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Release notes for DNSCrypt-OSXClient by AlterStep
    :sass
      body
        font:
          family: arial, helvetica, sans-serif
        margin: 0
      h1, h2
        margin: 0
      h1
        border-bottom: 1px solid grey
      article
        padding-left: 1em
      time
        font:
          style: italic
  %body
    %h1 Release Notes for DNSCrypt-OSXclient by AlterStep

    %article
      %h2 Version 1.0.12 by AlterStep
      %time Sun, Jul 31 2016
      %p
        Compatibility with OSX 10.12
      %p
        dnscrypt-proxy 1.7.0
      %p
        libsodium 1.0.9
      %p
        Fixed a regression in the automatic updater for the resolvers list

    %article
      %h2 Version 1.0.11 by AlterStep
      %time Thu, Mar  3 2016
      %p
        Compatibility with OSX 10.11
      %p
        dnscrypt-proxy 1.6.1
      %p
        libsodium 1.0.8

    %article
      %h2 Version 1.0.10 by AlterStep
      %time Tue, 23 Jul 2015
      %p
        Compatibility with OSX 10.11 beta 4
      %p
        dnscrypt-proxy 1.6.0

    %article
      %h2 Version 1.0.9 by AlterStep
      %time Tue, 12 Jul 2015
      %p
        Fixed an issue with libsodium not being found by minisign-verify

    %article
      %h2 Version 1.0.8 by AlterStep
      %time Tue, 12 Jul 2015
      %p
        New versions are automatically downloaded

    %article
      %h2 Version 1.0.7 by AlterStep
      %time Tue,  1 Jul 2015
      %p
        Fixed a bug in the automatic updater for the resolvers list

    %article
      %h2 Version 1.0.6 by AlterStep
      %time Tue, 10 Jun 2015
      %p
        Updated DNSCrypt proxy to version 1.5.0
      %p
        Updated libsodium to 1.0.3-minimal
      %p
        The list of available resolvers is automatically updated
      %p
        Improved privacy: ephemeral keys have been turned on
      %p
        Improved privacy: if no resolvers have been configured, a new one
        is randomly chosen after each reboot

    %article
      %h2 Version 1.0.5 by AlterStep
      %time Tue, 06 Jan 2015
      %p
        Updated DNSCrypt proxy to version 1.4.3
      %p
        Updated libsodium to 1.0.1-minimal

    %article
      %h2 Version 1.0.4 by AlterStep
      %time Thu, 19 Sep 2014
      %p
        Updated DNSCrypt proxy to version 1.4.1
      %p
        Updated libsodium to 0.7.0-minimal

    %article
      %h2 Version 1.0.3 by AlterStep
      %time Thu, 18 Jun 2014
      %p
        Runs on OSX 10.8 (Mountain Lion), 10.9 (Mavericks) and 10.10 (Yosemite)
      %p
        New set of icons, contributed by Aaron VonderHaar

    %article
      %h2 Version 1.0.2 by AlterStep
      %time Thu, 05 Jun 2014
      %p
        Improved installation scripts
      %p
        LDNS has been downgraded in order to work on systems without
        Homebrew.

    %article
      %h2 Version 1.0.1 by AlterStep
      %time Mon, 28 Apr 2014
      %p
        Include the release version of dnscrypt-proxy 1.4, with a new
        OpenNIC resolver.
      %p
        Wait after dnscrypt-proxy has been turned on before sending a
        query. This actually makes state changes faster.
      %p
        Debug log, turned off by default and deleted after every
        reboot. In order to enable it, create an empty file named
        %code debug.enabled
        in
        %code /Library/Application Support/DNSCrypt/control
        and the debug log file itself is
        %code /var/log/dnscrypt-osxclient-debug.log
      %p
        Thanks a lot for your feedback on the first version!

    %article
      %h2 Version 1.0.0 by AlterStep
      %time Thu, 21 Apr 2014
      %p
        This is my first release, based on the source code of the beta
        version written by OpenDNS.
      %p
        It has only been tested on OSX 10.9.
      %p
        It includes dnscrypt-proxy 1.4.0, libsodium 0.4.5, libldns 1.6.17.
      %p
        Contact me on Github: https://github.com/alterstep/dnscrypt-osx-client
