body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0;
}
.blog {
  font-family: serif;
}
.post {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  border-top: 1px solid #999;
}
h1, h2, .date, .date p {
  padding: 0px;
  margin: 0px;
}
.date {
  font-style: italic;
}
