!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "refresh", content: "5; url=feedback.php"}
    %title DNSCrypt feedback sent
    %style{type: "text/css"}
      :sass
        body
          font:
            family: arial, helvetica, sans-serif
  %body
    %h1 Feedback sent!
